<div class="card text-center form-width">
    
    <form [formGroup]="form" class = "card-body">
        <button  class="btn btn-link btn-sm" (click) = "route2Home()">
            <i class="material-icons" style="color: #363c41; font-size: 48px;">widgets</i>
        </button>
        
        <p class="display-6 m-0 my-4">Sign in to Poster Maker</p>
        
        <input type="email" 
                formControlName="mailid"
                id="defaultLoginFormEmail" 
                class="form-control mb-4" 
                placeholder="E-mail">
        
        <input  type="password"
                formControlName="password" 
                id="defaultLoginFormPassword" 
                class="form-control mb-0" 
                placeholder="Password">                

        <div class = "text-right m-0 mb-4">
            <small><a href="">Forget Password ?</a> </small>
        </div>

        <div class="text-dark m-0 my-4 p-1 bg-red rounded" *ngIf="form.errors">
            Invalid Username and / or Password
        </div>

        <button class="btn btn-primary btn-block " 
                [disabled]="!form.valid" 
                type="submit"
                (click)=login() >Sign in</button>

        <p class="m-0 my-4 text-muted text-monospace ">Not a member ? <a href="">Register</a></p>
        
        <!-- Social login -->
        <!-- <p>or sign in with</p> -->
    
        <!-- <a type="button" class="light-blue-text mx-2">
            <span class="material-icons">facebook</span>
        </a> -->   
    </form>
</div>
