<div class="p-3">
    <div class="row p-0 pt-5 d-flex ">
        <div class="col ">
            <button class="btn btn-block d-flex justify-content-center p-1 rounded m-0">
                <span class="material-icons">bookmark_border</span> 
                <span class="m-0 mx-2" >Projects</span> 
                <span class="m-0 ml-2 px-2 rounded-lg bg-light-gray1 text-dark" >1</span>
            </button>
        </div>
        <div class="col">
            <button class="btn btn-block  d-flex justify-content-center p-1 rounded m-0">
                <span class="material-icons">bubble_chart</span> 
                <span class="m-0 mx-2" >Demo Projects</span> 
            </button>
        </div>
        <div class="col"></div>
        <div class="col"></div>
    </div>
    <hr class="m-0 p-0 px-5">
    <div class="d-flex p-5">
        <button class="btn btn-md btn-primary">
            <span class="material-icons">add</span> Add New Project
        </button>
    </div>

</div>
