<footer>
  <div class="container p-0 pt-5 border-bottom">
    <div class="row">
        <div class="col-md-3 col-sm-12 mb-3 text-center">
            <i class="material-icons" style="color: #363c41; font-size: 192px;">widgets</i>
            <div class="text-center font-weight-normal ">Poster Maker</div>
        </div>
        <div class="col-md-9 col-sm-12">
            <div class="col-md-3 col-sm-6 col-6 p-0 float-left mb-3">
                <h5 class="mb-4 text-capitalize ">Solutions</h5>
                <ul class="list-group">
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                    <a href="../sales/sales-performance-market-pipeline.html">Terms of Use</a></li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                    <a href="../project-management/project-management.html">Privacy</a></li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                    <a href="../workforce/workforce-organization-management-hr.html">Release</a></li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                    <a href="../e-commerce/e-commerce.html">FAQ</a></li>
                <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                    <a href="../finance/finance-accounting-erp.html">Code of Coduct</a></li>
                
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 col-6 p-0 mb-3 float-left">
                <h5 class="mb-4 mb-4 text-capitalize">Developers</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://github.com/naologic">Open Source</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://stackshare.io/naologic">Technology</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
                <h5 class="mb-4 text-capitalize">Company</h5>
                <ul class="list-group">
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="../about-naologic.html">About</a>
                    </li>
                    <li class="list-group-item bg-transparent border-0 p-0 mb-2">
                        <a href="https://blog.naologic.com">Blog</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-6 col-6 mb-3 p-0 float-left">
                <h5 class="mb-4 text-capitalize">Stay In Touch</h5>
                <div class="text-left mb-2">
                    <span class="material-icons">mail_outline</span>
                    <span class="m-0 mx-2">xyzcdr@gmai.com</span>
                </div>
                <div class="text-left mb-2">
                    <span class="material-icons">phone_android</span>
                    <span class="m-0 mx-2">09674247520</span>
                </div>
                <div class="d-flex flex-row m-0 mt-3">
                    <a class="m-0 mr-2" href="https://www.linkedin.com/company/naologic">
                        <!-- <fa-icon [icon]="linkedin" style="margin: 5px" size="lg"></fa-icon> -->
                        <img src="https://www.vectorlogo.zone/logos/linkedin/linkedin-tile.svg" height="16"> 
                    </a>
                    <a class="m-0 mr-2" href="https://twitter.com/naologicerp">
                        <!-- <fa-icon [icon]="twitter" style="margin: 5px" size="lg" ></fa-icon> -->
                        <img src="https://www.vectorlogo.zone/logos/twitter/twitter-official.svg" height="16">
                    </a>    
                    <!-- <a class="m-0 mr-2" href="https://github.com/naologic" >
                        <fa-icon [icon]="github" style="margin: 5px" size="lg"></fa-icon>
                        <img src="https://www.vectorlogo.zone/logos/github/github-tile.svg" height="16">
                    </a> -->    
                    <a class="m-0 mr-2"  href="https://www.facebook.com/naologic/" >
                        <!-- <fa-icon [icon]="facebook" style="margin: 5px" size="lg"></fa-icon> -->
                        <img src="https://www.vectorlogo.zone/logos/facebook/facebook-icon.svg" height="16">
                    </a>    
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end align-items-center ">
        
        <!-- <a href="https://angular.io/">
            <fa-icon [icon]="angular" style="margin: 5px " size="lg" ></fa-icon>    
        </a>
        <a href="https://getbootstrap.com/">
            <fa-icon [icon]="bootstrap" style="margin: 5px " size="lg"></fa-icon>    
        </a> -->
        <span class="p-0 px-5 text-muted" > Application build with </span>
        <a class="m-0 mr-2"  href="https://angular.io/">
            <img src="https://www.vectorlogo.zone/logos/angular/angular-ar21.svg" height="48">   
        </a>

        <a class="m-0 mr-2" href="https://getbootstrap.com/">
            <img src="https://www.vectorlogo.zone/logos/getbootstrap/getbootstrap-ar21.svg" height="36">    
        </a>

        <a class="m-0 mr-2"  href="https://d3js.org/">
            <img src="https://www.vectorlogo.zone/logos/d3js/d3js-ar21.svg" height="36">    
        </a>
         
    </div>
    <hr class="p-0 ">
    <div class="d-flex justify-content-center align-items-center p-2 pb-3">
        @ 2020 Poster Maker All rights reserved         
    </div>
  </div>
</footer>