<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top" 
        *ngIf="navbarService.homeNavgitionActive">
        <i class='material-icons' style = 'color: aliceblue;'>widgets</i>        
        <button class="navbar-toggler m-0" type="button"  (click)="toggleNavbar()">
                <!-- <span class="navbar-toggler-icon"></span> keyboard_arrow_down-->
                <span class="material-icons">list</span>
        </button>

        <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }" >        
                <ul class="nav navbar-nav navbar-right mr-auto">
                        <li class="nav-item " [ngClass] = "{'active': activatelink == 'home' }" >
                        <a class="nav-link" href="#home" (click) = "nevigate2Home()">Home</a>
                        </li>
                        <li class="nav-item" [ngClass] = "{'active': activatelink == 'link1' }">
                        <a class="nav-link" href="#getstarted" (click) = "nevigate2link1()">get started</a>
                        </li>
                        <li class="nav-item" [ngClass] = "{'active': activatelink == 'link2' }">
                        <a class="nav-link" href="#" (click) = "nevigate2link2()" >Link3</a>
                        </li>
                        <li class="nav-item" [ngClass] = "{'active': activatelink == 'link4' }">
                        <a class="nav-link" href="#" (click) = "nevigate2link2()" >Link4</a>
                        </li>
                        <li class="nav-item" [ngClass] = "{'active': activatelink == 'link5' }">
                        <a class="nav-link" href="#" (click) = "nevigate2link2()" >Link5</a>
                        </li>
                        <li class="nav-item" [ngClass] = "{'active': activatelink == 'link6' }">
                        <a class="nav-link" href="#" (click) = "nevigate2link2()" >Link6</a>
                        </li>
                </ul>
                <button class="btn btn-md btn-outline-secondary bg-transparent float-right" 
                        type="button" (click) = scheduleAppLogin()> Signin
                </button> 
        </div>
</nav>        
