.btn:focus,.btn:active:focus, .btn.btn:active:focus,
.btn.focus,.btn:active.focus, .btn.active.focus {
    outline: none !important;
    box-shadow: none;
}

.dropdown-item:hover, .dropdown-item:focus, .dropdown-item:active {
    background-color: var(--gray);
    outline: none !important;
}
/* 
.navbar-nav .nav-item:not(:last-child) {
    border-bottom: 1px solid silver;
 } */
 
 @media (max-width: 768px) {
   .navbar-nav .nav-item:not(:last-child) {
     border-bottom: 1px solid var(--gray)
   }
 }